.container{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 60px 60px 60px 60px;
    gap: 20px;
}

#One{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: blue;
    border-radius: 10px;
}

#two{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: green;
 
}

#three{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: red;
    border-radius: 10px;
}

#four{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: yellow;
    border-radius: 10px;
}